{% load static %}

<!DOCTYPE HTML>
<html>

<head>
    <title>Be Eventful-Just Plan it</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <noscript>
        <link rel="stylesheet" href="{% static 'css/noscript.css' %}" />
    </noscript>

    <style>
        tr:hover 
        td{
            background-color:#A8A8A8;
        }

        .btn:hover
        {
        background-image:none;
        background-color:white;
        }
        
    </style>

</head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper" class="fade-in">

        <!-- Header -->
        <header id="header">
            <a href="#" class="logo" style="color:black;">BE EVENTFUL</a>
        </header>

        <!-- Nav -->
        <nav id="nav">
            <ul class="links">
                <li><a href="home">HOME</a></li>
				<li><a href="about">About us</a></li>
				<li><a href="registration">Sign Up</a></li>
				<li><a href="login">Login</a></li>
				<li><a href="services">Services</a></li>
				<li><a href="#">Contact us</a></li>
            </ul>
            <ul class="icons">
                <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
            </ul>
        </nav>

        <!-- Main -->
        <div id="main">

            <!-- Posts-->
            <article>
                <header>
                    <h2 style="text-align:center;font-size:15px;font-weight:400;font-style:normal;word-spacing:5px;font-family:'Montserrat';line-height:24px;">TESTIMONIALS FROM OUR</h2>
                       <h2 style="text-align:center;font-size:52px;font-weight:600px;line-height:72px;letter-spacing:2px;";> HAPPY CLIENTS </b></style></h2>
                </header>
            </article>
            {% for feed in accept_feedback %}
            <section>
               <b style="font-size:15px;font-family:'Montserrat';">&#x2014;By {{feed.Name}} <br /></b>
               <center>&#x22;{{feed.Message}} &#x22; <br />
               &#9670;&#9670;&#9670;&#9670;&#9670;&#9670;</center>
            </section>
            {% endfor %}
            <!-- Footer -->
        <footer>
            <h3>FOLLOW US ON SOCIAL MEDIA PLATFORMS</h3>
            <ul class="icons alt">
                <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a>
                </li>
                <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a>
                </li>
                <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
            </ul>
            </section>
            </section>
        </footer>

        <!-- Copyright -->
        <div id="copyright">

            <ul>
                <li style="color:black;">&copy; BE EVENTFUL</li>
                <li style="color:black;">Design: <a href="#">JUST PLAN IT</a></li>
            </ul>
        </div>

        </div>

        <!-- Scripts -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
        <script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
        <script src="{% static 'js/browser.min.js' %}"></script>
        <script src="{% static 'js/breakpoints.min.js' %}"></script>
        <script src="{% static 'js/util.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
</body>

</html>