{% load static %}
<!DOCTYPE HTML>
<html>

<head>
	<title>Be Eventful-Just Plan it</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'css/main.css' %}" />
	<noscript>
		<link rel="stylesheet" href="{% static 'css/noscript.css' %}" />
	</noscript>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper" class="fade-in">

		<!-- Intro -->
		<div id="intro">
			<h1 style="color:black;">BE EVENTFUL<br />
			</h1>
			<p style="color:black;">Life is an event , Make it memorable <a href="#">BE EVENTFUL</a> brings to you
				services that will<br />
				Make any occasion memorable <a href="#"> Your vision, Our actions</a>.</p>
			<ul class="actions">
				<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
			</ul>
		</div>

		<!-- Header -->
		<header id="header">
			<a href="#" class="logo" style="color:black;">BE EVENTFUL</a>
		</header>

		<!-- Nav -->
		<nav id="nav">
			<ul class="links">
				<li class="active"><a href="home">HOME</a></li>
				<li><a href="about">About us</a></li>
				<li><a href="registration">Sign Up</a></li>
				<li><a href="login">Login</a></li>
				<li><a href="services">Services</a></li>
			</ul>
			<ul class="icons">
				<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
			</ul>
		</nav>

		<!-- Main -->
		<div id="main">

			<!-- Featured Post -->
			<article class="post featured">
				<header class="major">
					<span class="date">LET'S<br>PLAN YOUR EVENT&nbsp;&nbsp;</span>
					<h2><a href="#">Exclusive events<br />
							Priceless memories</a></h2>
					<p>The BE EVENTFUL experience is unlike any other. <br />
						Our full-service event planning and design team will guide you every step of the way,<br />
						ensuring a stress-free experience from start to finish.</p>
				</header>
				<a href="#" class="image main"><img src="{% static 'images/slider1.jpg' %}" alt="" /></a>
				<ul class="actions special">
					<li><a href="#" class="button large">GALLERY</a></li>
				</ul>
			</article>

			<!-- Posts -->
			<section class="posts">
				<article>
					<header>
						<h2><a href="#">WEDDINGS<br />
							</a></h2>
					</header>
					<a href="#" class="image fit"><img src="{% static 'images/wedding.jpg' %}" alt="" /></a>
					<p>With every last detail taken care of, we're here to ensure the day you've always dreamed of will
						be the day you'll never forget.</p>
					<ul class="actions special">
						<li><a href="#" class="button">Full Story</a></li>
					</ul>
				</article>
				<article>
					<header>
						<h2><a href="#">BIRTHDAYS<br />
							</a></h2>
					</header>
					<a href="#" class="image fit"><img src="{% static 'images/birthday.jpg' %}" alt="" /></a>
					<p>Wow your guests with a unique corporate experience that aligns with your company's mission and
						elevates your brand.</p>
					<ul class="actions special">
						<li><a href="#" class="button">Full Story</a></li>
					</ul>
				</article>
				<article>
					<header>
						<h2><a href="#">CORPORATE EVENTS<br />
							</a></h2>
					</header>
					<a href="#" class="image fit"><img src="{% static 'images/corporate.jpg' %}" alt="" /></a>
					<p>Corporate events allow you to take the team somewhere new and exciting to stimulate the brain and
						think outside the box they work in.</p>
					<ul class="actions special">
						<li><a href="#" class="button">Full Story</a></li>
					</ul>
				</article>
				<article>
					<header>
						<h2><a href="#">SOCIAL GATHERINGS<br />
							</a></h2>
					</header>
					<a href="#" class="image fit"><img src="{% static 'images/social.jpg' %}" alt="" /></a>
					<p>From a show stopping engagement celebration to an epic surprise birthday party, you dream it and
						we'll make it a reality.</p>
					<ul class="actions special">
						<li><a href="#" class="button">Full Story</a></li>
					</ul>
				</article>
				<article>
					<header>
						<h2><a href="#">DJ<br />
							</a></h2>
					</header>
					<a href="#" class="image fit"><img src="{% static 'images/dj.jpg' %}" alt="" /></a>
					<p>Keep your feet on the ground, but let your head soar in the clouds.No matter what kind of music
						you’re in the mood for, we have it here.</p>
					<ul class="actions special">
						<li><a href="#" class="button">Full Story</a></li>
					</ul>
				</article>
				<article>
					<header>
						<!--<span class="date">April 7, 2017</span>-->
						<h2><a href="#">COLLEGE FEST<br />
							</a></h2>
					</header>
					<a href="#" class="image fit"><img src="{% static 'images/college.jpg' %}" alt="" /></a>
					<p>Do something for the foundation of your life Participation in college fest yes, war no It’s your
						festival Your college, your festivalYour life, your college, your way.</p>
					<ul class="actions special">
						<li><a href="#" class="button">Full Story</a></li>
					</ul>
				</article>
			</section>

			<!-- Footer 
							<footer>
								<div class="pagination"> -->
			<!--<a href="#" class="previous">Prev</a>
									<a href="#" class="page active">1</a>
									<a href="#" class="page">2</a>
									<a href="#" class="page">3</a>
									<span class="extra">&hellip;</span>
									<a href="#" class="page">8</a>
									<a href="#" class="page">9</a>
									<a href="#" class="page">10</a>
									<a href="#" class="next">Next</a>
								</div>
							</footer> -->


		</div>

		<!-- Footer -->
		<footer id="footer">
			<section class="split contact">
				<section>
					Customer feedback is crucial for the growth of a business
					&#10148;Your opinion matters to us. Tell us how you feel down!!
					&#10148;If you enjoyed the event, spare 2 minutes to share your experience! <br />
					&#10148;Thank you for being there <br />
					&#10148;Your feedback is valuable to us. Thank you for your time!
				</section>
				<section>
					<ul class="actions">
						<li><a href="feedback_form" class="button">Provide Feedback Here  &#187;</a></li>
						<li><a href="accept_feedback" class="button">View Feedback Here  &#187;</a></li>
					</ul>
					</form>
				</section>
			</section>
				<section class="split contact">
					<section class="alt">
						<h3>Address</h3>
						<p>1234 Somewhere Road #87257<br />
							Flordia, TN 00000-0000</p>
					</section>
					<section>
						<h3>Phone</h3>
						<p><a href="#">(000) 000-0000</a></p>
					</section>
					<section>
						<h3>Email</h3>
						<p><a href="#">beeventful@untitled.tld</a></p>
					</section>
					<section>
						<h3>Social</h3>
						<ul class="icons alt">
							<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a>
							</li>
							<li><a href="#" class="icon brands alt fa-facebook-f"><span
										class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands alt fa-instagram"><span
										class="label">Instagram</span></a></li>
							<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</section>
				</section>
		</footer>

		<!-- Copyright -->
		<div id="copyright">

			<ul>
				<li style="color:black;">&copy; BE EVENTFUL</li>
				<li style="color:black;">Design: <a href="#">JUST PLAN IT</a></li>
			</ul>
		</div>

	</div>

	<!-- Scripts -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
	<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
	<script src="{% static 'js/browser.min.js' %}"></script>
	<script src="{% static 'js/breakpoints.min.js' %}"></script>
	<script src="{% static 'js/util.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>

</body>

</html>