{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Be Eventful-Just Plan it</title>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <noscript>
        <link rel="stylesheet" href="{% static 'css/noscript.css' %}" />
    </noscript>
    <!--===============================================================================================-->
</head>

<body>
    <div id="wrapper" class="fade-in">

        <!-- Header -->
        <header id="header">
            <a href="#" class="logo" style="color:black;">BE EVENTFUL</a>
        </header>

        <!-- Nav -->
        
        <!--main -->
        <div id="main">
    <div class="register">
    <form method="POST">
        <center><h1>Password reset</h1></center><hr/><br/>
		<h3 style="font-size:15px;">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</h3><br/>
            
        {% csrf_token %} 
        {{ form.as_p }}
        
        <input type="submit" name="Send email" value="Send email">
        <br />
</form>
</div>
<footer>
    <h3>We are on Social Media Platforms</h3>
    <ul class="icons alt">
        <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a>
        </li>
        <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a>
        </li>
        <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
    </ul>
    </section>
    </section>
</footer>

<!-- Copyright -->
<div id="copyright">

    <ul>
        <li style="color:black;">&copy; BE EVENTFUL</li>
        <li style="color:black;">Design: <a href="#">JUST PLAN IT</a></li>
    </ul>
</div>

</div>
</footer>

<!-- Scripts -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
<script src="{% static 'js/browser.min.js' %}"></script>
<script src="{% static 'js/breakpoints.min.js' %}"></script>
<script src="{% static 'js/util.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>

</html>
<!--<h3>Password reset</h3>

<p>Forgotten your password? <br/> Enter your email address below, and we’ll email instructions for setting a new one.</p>

<form method="post">

	{% csrf_token %}
	{{form}}
	<input type="Submit" name="Send email">
	
</form>->